.description__title {
    font-weight: 900;
    color: var(--main-text-color);
    font-size: 54px;
    line-height: 58px;
    max-width: 690px;
}

@media screen and (max-width: 767px)  {
    .description__title {
        font-size: 32px;
        line-height: 35px;
}
}