.gallery {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(284px, 1fr));
    gap: 16px;
    padding-top: 92px;
}

@media screen and (max-width: 1023px) {
    .gallery {
        padding-top: 88px;
    }
}

@media screen and (max-width: 767px) {
    .gallery {
        padding-top: 64px;
    }
}