.cards-item {
    display: flex;
    flex-direction: column;
    gap: 48px;
    margin-bottom: 80px;
}

.cards-item:last-child {
    margin-bottom: 0;
}

@media screen and (max-width: 1023px) {
    .cards-item {
        margin-bottom: 73px;
    }
}

@media screen and (max-width: 767px) {
    .cards-item {
        margin-bottom: 50px;
        gap: 32px;
    }
}