.cover {
    position: relative;
    padding-top: 92px;
    text-align: center;
}

.cover::before {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-color: var(--main-bg-color);
    opacity: 0.3;
    content: "";
}